/* Root elements start */
:root {
  --md-outlined-text-field-container-shape: 2em;
  --md-outlined-text-field-container-color: #ddd;
  --md-outlined-text-field-focus-outline-color: #000;
  --md-outlined-text-field-focus-label-text-color: #000;
  --md-outlined-text-field-outline-width: 2px;
  --md-outlined-text-field-focus-outline-width: 2px;
  --md-outlined-text-field-hover-outline-width: 2px;
  --md-filled-button-container-color: #426083;
  --container-background-color: hsla(207, 40%, 43%, 0.800);
  --md-icons-hover-color: hsla(207, 39%, 52%, 0.8);
}

/* Root elemts end */

* {
  font-family: 'Roboto', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Google Material Design starts */
md-outlined-text-field {
  height: auto;
  margin: 1.2rem 0;
}

/* Google Material Design ends */


/* Custom styling starts */
.container {
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  background-size: cover;
  background-color: hsla(207, 40%, 43%, 0.356);
  border-radius: 30px;
}

.submit-btn {
  width: 8rem;
  height: 3rem;
  margin-bottom: 2em;
  font-size: large;
}

.view-collection-btn {
  width: 10rem;
  height: 3rem;
  margin-bottom: 2em;
  font-size: large;
  padding: 1rem;
}


.input-group {
  display: inline-grid;
}

/* Custom styling ends */