* {
  font-family: 'Roboto', serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  height: 100vh;
  width: 100%;
}

.container {
  margin-top: 2rem;
}

.bg-card-header {
  background-color: aquamarine;
}

.deleteItem {
  float: right;
}

.deleteBtn {
  background-color: inherit;
  border: none;
}

.input-group {
  display: inline-grid;
}

.bookdata-textfield {
  height: auto;
  border-radius: 50%;
}

/* .bookdata-textfield:nth-child(2) {
  width: 50%;
}
.bookdata-textfield:nth-child(3) {
  width: 50%;
} */

.material-symbols-rounded {
  font-size: 2rem;
  color: rgb(226, 96, 96);
  cursor: pointer;
}