@import url('../../App.css');

.material-symbols-rounded {
    font-size: 2rem;
    cursor: pointer;
}

.main-search-container {
    display: grid;
}

.main-search-container:nth-last-child() {
    place-content: center;
}

.searchbox-container {
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 2em;
}

.filter-menu {
    position: relative;
    margin: auto;
    align-content: center;
    height: 100%;
    width: 100%;
    margin-left: .5em;
}

.filter-button {
    width: 75%;
    height: 55%;
    font-size: larger;
}

/* .usage-menu {
    position: absolute;
    display: block;
    left: 0;
    margin: 0;
    padding: 10px;
    list-style-type: none;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
} */

.usage-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 10px;
    margin-top: 1%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
}

[slot='headline'] {
    white-space: nowrap;
}

.usage-menu md-menu-item {
    padding: 1em 2em;
    cursor: pointer;
    color: #000;
    display: block;
}

.searchbox {
    width: 100%;
    margin-left: .5em;
}

.search-book-input {
    width: 100%;
    color: #000;
}

.search-icon {
    color: inherit;
}

.close-text {
    padding-right: .7em;
}

.main-card {
    background-color: var(--container-background-color);
    border-radius: 30px;
    margin: 1em 0;
}

.card-body-section {
    padding: 1.2em;
}

.bookdata-actions {
    display: flex;
    float: right;
    gap: 1em;
}

.edit-btn {
    background-color: inherit;
    border: none;
    color: #282c34;
    width: 48px;
    height: 48px;
    padding-top: .5rem;
}

.edit-btn:hover {
    background-color:rgb(102, 146, 187);
    border-radius: 50%;
}

.delete-btn {
    background-color: inherit;
    border: none;
    color: #282c34;
    width: 48px;
    height: 48px;
    padding-top: .5rem;
}

.delete-btn:hover {
    background-color:rgb(102, 146, 187);
    border-radius: 50%;
}
